* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('meal-prep.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    color: #0f1c4d;
    font-size: 40px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    resize: vertical;
    height: 100px;
}


button,
input[type="reset"] {
    width: 48%;
    padding: 12px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button {
    background-color: green;
}

input[type="reset"] {
    background-color: red;
}

button:hover,
input[type="reset"]:hover {
    opacity: 0.9;
}

